@import 'reset.css';

@import 'variables.css';

body {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: var(--font-family-primary);
}

body, p, span, div {
    font-family: var(--font-family-secondary);
}

@import '../modules/game/game.css';
@import '../modules/ship/ship.css';
@import '../modules/gameboard/gameboard.css';